@tailwind base;
@tailwind components;
body {
  @apply bg-primary;
}
input,
textarea {
  @apply outline-none bg-transparent w-full resize-none;
}
.container {
  @apply xl:max-w-6xl md:max-w-2xl max-w-none mx-auto flex justify-center flex-col;
}
.primary-button {
  @apply lg:px-5 lg:py-3 px-2 py-1 shadow-primary  md:text-xl bg-secondary text-white font-semibold rounded-md;
}

input[type="radio"] {
  accent-color: #5957ff;
}
.popup {
  @apply z-10 fixed top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-screen h-screen flex items-center justify-center;
}
.esc-button {
  @apply absolute right-4 top-4 lg:right-8 lg:top-8 lg:text-xl bg-tertary p-2 text-black rounded-xl;
}
@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    visibility: hidden;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0;
  }
}
@keyframes slideOutDown {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  0% {
    visibility: hidden;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0;
  }
}
.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transition: 0.3s ease;
}
.myGroup:hover .slideOutDown {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}
@tailwind utilities;
